@tailwind base;
@tailwind components;
@tailwind utilities;

.input-field {
  @apply w-full border rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-gray-600;
}

.payment-option {
  @apply flex items-center border p-2 rounded-md cursor-pointer hover:bg-gray-100;
}

body {
  background: black;
  font-family: "poppins", sans-serif;
}

.pur {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(121, 9, 15, 1) 57%,
    rgba(124, 0, 255, 1) 100%
  );
}
